<!DOCTYPE html>
<html>
<head>

	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width initial-scale=1">
	{% load static %}
	<link rel="stylesheet" type="text/css" href="{% static '/storyboard/css/base.css' %}">
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">

	<link rel="stylesheet" href="//code.jquery.com/ui/1.12.1/themes/smoothness/jquery-ui.css">

	<!-- no ui slider -->
	<link rel="stylesheet" type="text/css" href="https://cdnjs.cloudflare.com/ajax/libs/noUiSlider/14.0.3/nouislider.css">

	<title>Storyboarding</title>

</head>
<body>

	<div class="container-fluid">

		<div class="row" style="min-height: 80vh;">

			<!-- Color Palette -->
			<div class="col-sm-2 category-palette">
				<div class="row" style="background-color: #7f85ce;">
					<span>Selected:  </span> <span id="tb1-sc"></span>
				</div>

				<div class="row">
					<div id="tb1-lc">
					
						<ul class="nav nav-tabs">
							{% for category, value in categories.items%}
								
								<li><input type="button" class="btn btn-sm btn-block" data-toggle="tab" data-target="#{{ category }}" value="{{ category }}"></li>
									{% if forloop.counter|divisibleby:"2" %}
										<br>
									{% endif %}
							{% endfor %}
						</ul>

						<div class="tab-content">
							{% for category, value in categories.items %}
								<div id="{{category}}" class="tab-pane fade in">	
									{% for item in value %}
										<label class="btn">
											<input class="btn btn-sm" type="radio" name="cat" value="{{ item.color }}"> <span>{{ item.name }} </span> 
										</label> <br>
									{% endfor %}
								</div>
							{% endfor %}
						</div>

					</div>
				</div>
				  
			</div>


			<!-- Prior -->
			<div class="col-sm-2 ml-3">
				<div id="prior" class="vertical-scroll">
				</div>
			</div>


<!-- **************************************************************************************************************************************************
		Paint Toolbar Start			Paint Toolbar Start		Paint Toolbar Start			Paint Toolbar Start			Paint Toolbar Start			
************************************************************************************************************************************************** -->
			<div class="col-sm-1 tool-bar py-1">
				
				<!-- Line width -->
				<div class="btn-group p-1">
					<button class="btn btn-secondary btn-sm" type="button" title="Pencil">
						<i class="fa">&#128396;</i>
					</button>
					<button class="btn btn-secondary btn-sm dropdown-toggle dropdown-toggle-split" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false" title="Pencil">
						<span class="sr-only">Toggle Dropdown</span>
					</button>

					<div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
						<input class="dropdown-item" id="tb1-lw" type="range" min="1" max="20" value="3">
					</div>
				</div>

				<!-- Eraser -->
				<div class="btn-group  py-1">
					<button class="btn btn-secondary btn-sm" id="tb1-er" type="button" title="Eraser">
						<i class="fas fa-eraser"></i> 
					</button>
					<button class="btn btn-secondary btn-sm dropdown-toggle dropdown-toggle-split" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false" type="button" title="Eraser">
						<span class="sr-only">Toggle Dropdown</span>
					</button>

					<div class="dropdown-menu">
						<input class="dropdown-item" id="tb1-es" type="range" name="eraser" min="1" max="20" value="3">
					</div>
				</div>


				<!-- Undo -->
				<div class="btn-group  py-1">
					<button id="tb1-un" class="btn btn-secondary btn-sm" title="Undo">
						<i class="fas fa-undo"></i>
					</button>
					<button id="tb1-re"class="btn btn-secondary btn-sm ml-1" title="Redo">
						<i class="fas fa-redo"></i>
					</button>
				</div>



				<!-- Save & Download-->
				<div class="btn-group py-1">
					<button id="tb1-sv" class="btn btn-secondary btn-sm" data-toggle="modal" data-target="#save" title="Save to Gallery">
						<i class="fas fa-save"></i>
					</button>
					<button id="tb1-dw" class="btn btn-secondary btn-sm ml-1" title="Download">
						<i class="fas fa-download"></i>
					</button>
				</div>


				<div class="modal" id="save" tabindex="-1" arai-labelledby="true" aria-hidden="false">
					<div class="modal-dialog" role="document">
						<div class="modal-content">
							<div class="modal-header">
								<h5 class="modal-title"> Save Element </h5>
								<button type="button" class="close" data-dismiss="modal" aria-label="Close">
	          						<span aria-hidden="true">&times;</span>
								</button>
							</div>

							<div class="modal-body">
								<input type="text" id="ip-mb-tb1-sv">
							</div>

							<div class="modal-footer">
								<button id="btn-mf-tb1-sv" type="button" class="btn btn-primary" data-dismiss="modal">Save</button>
							</div>
						</div>
					</div>
				</div>



				<!-- Copy & Move-->
				<div class="btn-group py-1">
					<button id="tb1-cp" class="btn btn-secondary btn-sm" title="Copy">
						<i class="fas fa-copy"></i>
					</button>
					<button id="tb1-mv" class="btn btn-secondary btn-sm ml-1" title="Move">
						<i class="fas fa-arrows-alt"></i>
					</button>
				</div>




				<!-- Visualize 3D & Clear Canvas -->
				<div class="btn-group py-1">
					<button id="tb1-vl" class="btn btn-secondary btn-sm" title="Hide/Unhide all layers (except current)">
						<i class="fas fa-eye"></i>
					</button>
					<button id="tb1-cc" class="btn btn-secondary btn-sm ml-1" title="Clear Canvas">
						<i class="fas fa-broom"></i>
					</button>
					
				</div>


				<!-- Gallery - Modal  Window -->
				<div class="btn-group py-1">
					<button type="button" class="btn btn-secondary btn-sm" data-toggle="modal" data-target="#elementModalWindow">
						Gallery
					</button>
				</div>

				<div class="modal fade" id="elementModalWindow" tabindex="-1" aria-labelledby="titleElementWindow" aria-hidden="true">
					<div class="modal-dialog" role="document">
						<div class="modal-content">
							<div class="modal-header">
								<h5 class="modal-title" id="modalTitle">Gallery</h5>
								<button type="button" class="close" data-dismiss="modal" aria-label="Close">
		          					<span aria-hidden="true">&times;</span>
								</button>
							</div>

							<div class="modal-body" id="elementModalWindowBody">

							</div>
							
							<div class="modal-footer">
								<button type="button" class="btn btn-primary" data-dismiss="modal">Close</button>
							</div>
						</div>		
					</div>
				</div>




				<!-- Get 2d -->
				<div class="btn-group py-1">
					<input class="btn btn-danger" id="tb1-fs" type="button" value="fetch scenes">
				</div>


				<div class="btn-group">
					<button id="tb1-as" class="btn btn-secondary">
						Save to storyboard
					</button>
				</div>


				<div class="btn-group py-1">
					<button id="tb1-al" class="btn btn-outline-secondary btn-sm" title="Add Layer">
						<i class="fas fa-plus"></i>
					</button>
					<button id="tb1-rl" class="btn btn-outline-secondary btn-sm ml-1" title="Remove Layer" disabled>
						<i class="fas fa-minus"></i>
					</button>
				</div>
			</div>



			<!-- Slider Layer visualization & Drawing Canvas-->
			<div class="col-sm-6">
				<div class="row mt-5">
					<div class="col-sm-2">
					</div>
					<div class="col-sm-10 mt-4">
						<div style="height: 170px;">
							<div id="sl-lyr" ></div>
						</div>
						<!-- <span id="unconstrained-values">Layers:</span>  -->

					</div>
				</div>

				<!-- Drawing canvas -->
				<div class="row mt-3">
					<div class="col-sm-12" style="position: relative;">
						<div class="canvas-size canvas-alignment">
							<canvas id="cv-shadow" width="500" height="500" class="canvas-inline canvas-layer" style="z-index: 1000;"></canvas>
						</div>
						<div class="canvas-size canvas-alignment" id="sc">
							<canvas width="500" height="500" class="canvas-inline canvas-layer" style="z-index: 1;"></canvas>
						</div>
					</div>
				</div>
			</div>
		
		</div>




<!-- **************************************************************************************************************************************************
		 Paint Toolbar End   Paint Toolbar End   Paint Toolbar End	 	Paint Toolbar End	 Paint Toolbar End 			Paint Toolbar End
************************************************************************************************************************************************** -->

		<div class="row mt-3">
			<div class="col-sm-12 horizontal-scroll" id="fsi">
			</div>
		</div>

		<div class="row mt-3">
			<div class="col-sm-12">
				<div class="horizontal-scroll" id="sb">

				</div>
			</div>

			<div class="modal fade" id='mw-sb' tabindex="-1" aria-hidden='true'>
				<div class="modal-dialog">
					<div class="modal-content">
						<div class="modal-header">
							<h5>Gallery</h5>
							<button type="button" class="close" data-dismiss="modal" aria-label="Close">
          						<span aria-hidden="true">&times;</span>
							</button>							
						</div>
						<div id="mb-sb" class="modal-body">
															
						</div>
						<div class="modal-footer">
							<button type="button" class="btn btn-primary" data-dismiss="modal">Close</button>
						</div>
						
					</div>
					
				</div>
			</div>

		</div>

		
	</div>




	<!-- FontAwesome js file -->
	<script src="https://kit.fontawesome.com/3c2cba7c98.js" crossorigin="anonymous"></script>

	<!-- Optional JavaScript -->
	<!-- jQuery first, then Popper.js, then Bootstrap JS -->
	<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
	<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
	<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>

	<!-- For getting cookies  -->
	<script type="text/javascript" src="https://cdn.jsdelivr.net/npm/js-cookie@beta/dist/js.cookie.min.js"></script>

	<!-- Zip file transfer -->
	<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/jszip/3.2.2/jszip.js"></script>
	<!-- <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/fabric.js/3.2.0/fabric.min.js"></script> -->
	  

	<!-- No UI slider -->
	<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/noUiSlider/14.0.3/nouislider.js"></script>

	<!--  -->
	<script type="text/javascript" src="https://cdn.jsdelivr.net/npm/canvas2svg@1.0.16/canvas2svg.min.js"></script>
	

	<!--  -->
	<!-- <script type="text/javascript" src="{% static '/storyboard/js/css_init.js' %}"></script> -->
	<script type="text/javascript" src="{% static '/storyboard/js/dom_loader.js' %}"></script>
	<script type="text/javascript" src="{% static '/storyboard/js/sketchpad.js' %}"></script>
	<script type="text/javascript" src="{% static '/storyboard/js/eventListener.js' %}"></script>
	<script type="text/javascript" src="{% static '/storyboard/js/websocket.js' %}"></script>
</body>
</html>
