.canvas-alignment{
	position: absolute;
	margin-right: auto;
    margin-left: auto;
}


.canvas-layer{
	position: absolute;
	top: 0;
	left: 0;
}


.canvas-inline{
	display: inline-block;
	border:1px solid #000000;
}


.canvas-size{
	width :500px;
	height :500px;
}



.tool-bar{
	background-color: #80d8e4;
}



.category-palette{
	background-color: #c0cdd0;
}


.horizontal-scroll{
	background-color:#4e7379; 
	overflow: scroll;
	background-color: white;
	white-space: nowrap; 
}

.vertical-scroll{
	overflow-y: scroll;
	background-color: #879698;
	height: 800px;
}




/* HIDE RADIO */
[name='ai'] { 
  position: absolute;
  opacity: 0;
  width: 0;
  height: 0;
}

/* IMAGE STYLES */
[name='ai'] + img {
  cursor: pointer;
  margin-right: 2em;
}

/* CHECKED STYLES */
[name='ai']:checked + img {
  outline: 2px solid #f00;
}



/*Overriding Bootstrap CSS*/
.btn{
	white-space: normal;
}
